<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ location().name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ location().zip }} | {{ location().country }}</h6>
    <div class="card-text">
      <div class="container">
        <div class="row">
          <ng-container *ngIf="(currentWeather$| async) as currentWeather">
            <div class="col-6">
              <p>Current conditions: {{ currentWeather.weather.at(0)?.main }}</p>
              <p>Current Temperature: {{ currentWeather.main.temp }}</p>
              <p>Temperature Max today: {{ currentWeather.main.temp_max }} - Min
                today: {{ currentWeather.main.temp_min }} </p>
            </div>
            <div class="col-6">
<!--              TODO put in directive-->
              <img [src]="'https://openweathermap.org/img/wn/'+currentWeather.weather.at(0)?.icon+'@4x.png'" [alt]="currentWeather.weather.at(0)?.main">
            </div>
          </ng-container>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
